<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getchlabs.earrecognizer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ear"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ear"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarRecognizer">


        <activity android:name=".IdentificationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".VerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EnrollmentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>